<h2 align="center" class="upper">AddUser</h2>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form [formGroup]="userForm" (ngSubmit)="addUser()">
            FirstName: <input type="text" class="form-control" formControlName="firstName" />
            <span class="err"
                *ngIf="userForm.get('firstName')?.touched  && userForm.get('firstName')?.hasError('required')">Please
                Enter FirstName</span>
                <span class="err"
                *ngIf="userForm.get('firstName')?.touched  && userForm.get('firstName')?.hasError('minlength')">FirstName
                Should be in 3 length </span><br><br>   
           
                Email: <input type="text" class="form-control" formControlName="email" />
            <span class="err"
                *ngIf="userForm.get('email')?.touched  && userForm.get('email')?.hasError('required')">Please Enter
                email</span><br><br>
            
                Password: <input type="text" class="form-control" formControlName="password" />
            <span class="err"
                *ngIf="userForm.get('password')?.touched  && userForm.get('password')?.hasError('required')">Please
                Enter password</span>
            <span class="err"
                *ngIf="userForm.get('password')?.touched && userForm.get('password')?.hasError('minlength')">
                Password Must be in 8 length</span>
            <span class="err"
                *ngIf="userForm.get('password')?.touched && userForm.get('password')?.hasError('strongPassword')">
                Please Select Strong Password [include <br> 1) [ @ or $ or # ] <br>2) Upper Letter <br>3) Lower Letter ]
            </span><br><br>

            <button type="submit" class="btn btn-primary">AddUser</button>
            <a class="nav-link " routerLink="/login" tabindex="-1" aria-disabled="true">login</a>
        </form>
    </div>
</div>